{{ define "main" }}

{{/* Breadcrumbs */}}
{{ if not .IsHome }}
{{ partial "breadcrumbs.html" . }}
{{ end }}

{{/* Build class string for photos layout */}}
{{ $classes := "photos-layout" }}
{{ with .Param "photosWidth" }}
  {{ if eq . "contained" }}
    {{ $classes = printf "%s photos-contained" $classes }}
  {{ else if eq . "wide" }}
    {{ $classes = printf "%s photos-wide" $classes }}
  {{ end }}
{{ end }}
{{ with .Param "photosGap" }}
  {{ if eq . "none" }}
    {{ $classes = printf "%s photos-gap-none" $classes }}
  {{ else if eq . "sm" }}
    {{ $classes = printf "%s photos-gap-sm" $classes }}
  {{ else if eq . "md" }}
    {{ $classes = printf "%s photos-gap-md" $classes }}
  {{ else if eq . "lg" }}
    {{ $classes = printf "%s photos-gap-lg" $classes }}
  {{ end }}
{{ end }}
{{ with .Param "photosFit" }}
  {{ if eq . "contain" }}
    {{ $classes = printf "%s photos-contain" $classes }}
  {{ end }}
{{ end }}

<div class="{{ $classes }}" {{ if .Param "autonumber" }} class="autonumber" {{ end }}{{ if .Param "math" }} data-math="true"{{ end }}>

  {{/* Main content container */}}
  <div class="content-wrapper">
    {{/* Table of Content with pure CSS positioning */}}
    {{ if .Param "toc" }}
    <aside class="toc css-sticky-toc">
      <div class="toc-container">
        <p><strong>Table of contents</strong></p>
        {{ .TableOfContents }}
      </div>
    </aside>
    {{ end }}

    {{/* Content goes in its own container */}}
    <div class="main-content">


      {{ if .Param "showTags" }}
      {{ $taxonomy := "tags" }}
      {{ with .Param $taxonomy }}
      <div class="single-tags">
        {{ range $index, $tag := . }}
        {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
        <span>
          <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
        </span>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
      {{ end }}

      {{/* Page content */}}
      <div class="single-content">
        {{/* Process content through wikilinks partial */}}
        {{ $processedContent := partial "wikilinks.html" .Content }}
        {{ $processedContent | safeHTML }}

        {{ if .Site.Params.giscus.enable }}
        {{ if not .Params.disableComment }}
        {{ partial "comments.html" . }}
        {{ end }}
        {{ end }}
      </div>

      {{/* Back to top */}}
      {{ if not (.Param "hideBackToTop") }}
      <div class="back-to-top">
        <a href="#top">
          back to top
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
