{{/* Newsletter */}}

<div class="newsletter-container">
    <form action="https://api.follow.it/subscription-form/TllPUHM3RjM2Zm1jTFpwQ2c4VSs4QjE5RlpXWGVjblEwV29VQzdraUcyWjVSNmlCZWhBTjdQV3NYMTFCMXcxZ3Zvc25NWmhXeG9Nejg2ZFIzdng4YmxGMmdMeFRIMjFKQ00rSUpwMEViNmRZUTlvcDJ0OUxGSUxTZ3R4eTF3TTl8cXJuQUFTbFJFY3BLb1pGNSs3TVBkOHd3ZlZhZWZiRnFlWlJ1bFpGeEVtQT0=/8" method="post">
        <div class="form-container">
            <h5 class="form-heading">Get new posts by email:</h5>
            <div class="form-content">
                <input type="email" name="email" required placeholder="Enter your email" spellcheck="false">
                <button type="submit">Subscribe</button>
            </div>
        </div>
    </form>
</div>