{{/* Transform [[wiki links]] into actual links */}}
{{ $content := . }}
{{ $transformed := $content }}

{{ $regex := "\\[\\[([^\\]]+)\\]\\]" }}
{{ $matches := findRE $regex $content }}

{{ range $match := $matches }}
  {{ $linkText := trim (replaceRE "\\[\\[(.*)\\]\\]" "$1" $match) " " }}
  {{ $urlPath := replace (lower $linkText) " " "-" }}
  {{ $link := printf "<a href=\"/notes/%s\" class=\"wikilink\">%s</a>" $urlPath $linkText }}
  {{ $transformed = replace $transformed $match $link }}
{{ end }}

{{ return $transformed }}